/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

/* tailwind config globals setting */
@theme{
  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-arabic: "Rubik", sans-serif;
  --color-primary:#0A0C00;
  --color-secondaryColor:#100701;
  --color-textColor:#666A73;
  --color-primaryBlue:#084F93;
  --color-sectionBg:#F2F4F8;
  --color-primaryBorder:#CCC;
  --shadow-faq:0px 0px 60px 0px rgba(0, 0, 0, 0.05);
  --shadow-contact:0px 4px 60px 0px rgba(0, 0, 0, 0.05);
  --shadow-about:0px 0px 60px 0px rgba(0, 0, 0, 0.05);
  --gradient-blog-overlay: linear-gradient(180deg, rgba(38, 18, 8, 0.00) 44.52%, #261208 92.46%);
  --gradient-banner-overlay: linear-gradient(80deg, rgba(16, 7, 1, 0.79) 36.94%, rgba(118, 52, 7, 0.00) 78.99%);
  --shadow-navbar-shadow:0px 4px 60px 0px rgba(38, 18, 8, 0.05);
}


@layer base {

  * {
    @apply m-0 p-0 box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-primary xl:text-[100px] lg:text-[70px] md:text-[50px] text-[40px] xl:leading-[113px] lg:leading-[85px] md:leading-[58px] leading-[50px] font-primary font-normal tracking-[-2px];
  }
  h2 {
    @apply text-secondaryColor xl:text-[60px] xl:leading-[68px] md:text-[50px] md:leading-[56px] text-[28px] leading-[36px] font-primary font-bold tracking-[-1.48px];
  }
  
  h3 {
    @apply md:text-[32px] text-[24px] text-secondaryColor md:leading-[40px] leading-8 font-medium font-primary;
  }

  h4 {
    @apply md:text-[24px] text-[22px] text-secondaryColor font-medium leading-[28px] md:leading-[36px] font-primary;
  }

  h5 {
    @apply text-[18px] text-secondaryColor font-bold leading-7 font-primary;
  }

  h6 {
    @apply text-[14px] text-secondaryColor font-normal font-primary;
  }
  p {
    @apply text-textColor text-[16px] font-normal leading-7 font-secondary tracking-[-0.36px];
  }

  .section-gap{
    @apply lg:mt-[120px] md:mt-[80px] mt-[60px]
  }
  .section-label {
    @apply text-[16px] font-bold font-primary text-primaryBlue uppercase tracking-[2.56px] leading-7;
  }
 

   .nav-menu {
    @apply text-[14px] text-secondaryColor font-primary font-bold uppercase leading-6 relative inline-block cursor-pointer;
    @apply after:absolute after:bottom-[30px] after:left-0 after:w-full after:h-[1px] after:bg-primaryBlue;
    @apply after:scale-x-0 after:origin-right after:transition-transform after:duration-500;
    @apply hover:text-primaryBlue hover:after:scale-x-100 hover:after:origin-left;
  }

   .nav-menu-two {
    @apply text-[14px] text-white font-primary font-bold uppercase leading-6 relative inline-block cursor-pointer;
    @apply after:absolute after:bottom-[26px] after:left-0 after:w-full after:h-[1px] after:bg-primaryBlue;
    @apply after:scale-x-0 after:origin-right after:transition-transform after:duration-500;
    @apply hover:text-primaryBlue hover:after:scale-x-100 hover:after:origin-left;
  }

   .nav-menu-two.text-black {
    @apply text-black;
  }

   .nav-sub-menu {
    @apply block w-[250px] font-primary pt-4 pl-7 hover:text-primaryBlue hover:pl-10 duration-300 ease-in-out;
  }

  .home-heading{
    background: linear-gradient(172deg, #FFF 0%, #4F70E6 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }

  /* for navbar */
   .animate-slideDown {
    animation: slideDown 0.4s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes wave {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  /* Create utility classes to use these animations */
.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-wave {
  animation: wave 2s ease-out infinite;
}

.animate-wave-delay {
  animation: wave 2s ease-out infinite 1s;
}
 



}